ci:
  autofix_prs: true
  autoupdate_schedule: 'monthly'

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff-check
      args: [ --fix, --show-fixes, --exit-non-zero-on-fix ]
    # - id: ruff-format

# Linting hook for stylistic issues in rst doc files.
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.2
  hooks:
    - id: sphinx-lint
